.contains{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height:min-content;
    width: 100%;
    height: 100vh;
    background-color: #FF6B6B;
}

.headers{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 40%;
    background-color: white;
   
}

.text {
    color: #FF6B6B;
    font-weight: 600;
}

.underline {
    width: 61px;
    height: 6px;
    background-color: #FF6B6B;
    border-radius: 9px;
}

.inputs1 {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.input1 {
    display: flex;
    align-items: center;
    padding: 3%;
    margin-top: 5%;
    background-color: #eaeaea;
    border-radius: 6px;
}

.input1 img {
    margin: 0px 15px; 
}

.input1 input {
    
    height: 5%;
    background: transparent;
    border: none;
    outline: none;
    color: #000000;
    font-size: 16px; 
}

.submit-container1 {
    display: flex;
    justify-content: center;
    margin: 10% auto; 
}





@media only screen and (max-width: 767px){
    .headers{
        margin-top: 15%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 70%;
        width: 70%;
        background-color: white;
       
    }
    .input1 {
        display: flex;
        align-items: center;
        padding: 3%;
        background-color: #eaeaea;
        border-radius: 6%;
    }
    .input1 {
        display: flex;
        align-items: center;
        padding: 3%;
        margin-top: 5%;
        background-color: #eaeaea;
        border-radius: 6px;
    }
}


@media only screen and (min-width: 768px){
    
    .headers{
        margin-top: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 80%;
        width: 50%;
        background-color: white;
       
    }
    .input1 {
        display: flex;
        align-items: center;
        padding: 3%;
        background-color: #eaeaea;
        border-radius: 6px;
    }
}

