.margin{
    margin: 25px;
    ;
}
.search-container {
    position: relative;

  }
  
  .search-input {
    width: 100%;
    color: white;
    border-radius: 5px;
  }
  
  .suggestions{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  .suggestion-item {
    padding: 10px;
    cursor: pointer;
  }
  
  .suggestion-item:hover {
    background-color: #f2f2f2;
  }
  
 
  
  .search-input2 {
    width: 100%;
    color: white;
    border-radius: 5px;
  }
  
  .suggestions2 {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  .border-gradient
  {
    margin-left: 10%;
    margin-top: 20px;
    border-radius: 20px;
    width: 80%;
  }
  .box-shadow
  {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-image: linear-gradient(to right top, #73756b, #6a6653, #65563c, #634429, #60301d, #6a2a1b, #75201b, #80101f, #9d1122, #ba1424, #d81923, #f62121);
  }

  .suggestion-item2 {
    padding: 10px;
    cursor: pointer;
  }
  
  .suggestion-item2:hover {
    background-color: #f2f2f2;
  }
  