.margin{
    margin: 25px;
    ;
}
.search-container {
    position: relative;
    display: inline-block;
  }
  
  .search-input {
    background-color: #FFFFFF;
    color: #314455;
    border: 1px solid #314455;
    border-radius: 5px;
    padding: 10px;
   
    width: 100%;
    box-sizing: border-box;
  }
  .carousal-text
  {
    color: white;
    margin-bottom: 20%;
  }
  .font-size
  {
    font-size: 50px;
    font-weight: 600;
  }
  .suggestions{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    background-color: #f1f1f1;
  }
  
  
  
  .suggestion-item {
    padding: 10px;
    cursor: pointer;
  }
  
  .suggestion-item:hover {
    background-color: #f2f2f2;
  }
  
 
  
  .search-input2 {
    background-color: #FFFFFF;
    color: #314455;
    border: 1px solid #314455;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .suggestions2 {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  .border-gradient
  {
    margin-top: 20px;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 20px;
  }

  .suggestion-item2 {
    padding: 10px;
    cursor: pointer;
  }
  
  .suggestion-item2:hover {
    background-color: #f2f2f2;
  }
  