.h-wrapper {
    justify-content: center;
    text-align: center;
    padding-left: 30px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 18px;
    color: #FFFFFF;
}
.h-wrapper:hover {
    color: #FF6B6B;
    text-decoration: none;
}

.h-wrapper:checked {
    color: black;
}

.h-container {
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--secondary);
}

.nav-link {
    color: black;
}
.navbar-fixed-top.scrolled {
    background-color: #3b3636 !important;
    transition: background-color 200ms linear;
  }
.color
{
    background: linear-gradient(
        180deg,
        #24030100 0%,
        #78051675 271.91%
    );
}

.navbar
{
    background-color: #314455;
    color: #FFFFFF;
}

.border
{
    width: 20%;
    height: 100%;
    border: 2px solid black;
}
.border-full{
    width: 55%;
    height: 100%;
}

.h-menu {
    gap: 1rem;
    
}

.h-menu>*:hover {
    cursor: pointer;
}

.Logo img {
   height: 40px;
    width: 60px;
    border-radius: 10px;
   
}

.Logo {
    height: 70px;
    width: 50px;
    margin-left: 40px;
    padding-bottom: 10px;
}

.link {
    text-decoration: none;
    padding-left: 5px;
}

.link:hover {
    text-decoration: none;

}
.border
{
    border-radius: 50px;
}