.navbar {
    background-color: #314455;
    color: #FFFFFF;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1000;
}

.h-wrapper {
    padding-top: 5px;
    justify-content: center;
    text-align: center;
    margin-left: 45px;
    text-decoration: none;
    font-size: 20px;
    color: #FFFFFF;
}

.h-wrapper:hover {
    color: #FF6B6B;
}

.h-container {
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--secondary);
}

.nav-link {
    color: black;
}



.h-menu {
    gap: 1rem;
}

.h-menu>*:hover {
    cursor: pointer;
}

.Logo img {
    height: 40px;
    width: 60px;
    border-radius: 10px;

}

.Logo {
    height: 70px;
    width: 50px;
    margin-left: 40px;
    padding-bottom: 10px;
}

.link {
    text-decoration: none;
    padding-left: 5px;
}

.link:hover {
    text-decoration: none;
}

