body{
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
    background: linear-gradient(to bottom, #FFFFFF, #EAEAEA);

}

:root {
	--poppins: 'Poppins', sans-serif;
	--lato: 'Lato', sans-serif;

	--light: #F9F9F9;
	--blue: #3C91E6;
	--light-blue: #CFE8FF;
	--grey: #eee;
	--dark-grey: #AAAAAA;
	--dark: #342E37;
	--red: #DB504A;
	--yellow: #FFCE26;
	--light-yellow: #FFF2C6;
	--orange: #FD7238;
	--light-orange: #FFE0D3;
}
.paddings {
  padding: 1.5rem;
}

.innerWidth {
  width: 100%;
}
.heading
{
  color: #314455;
  font-weight: bold; 
  font-size: 1.2rem;
  font-weight: 600;
  font-size: 25px;
  font-family: "GFS Didot", serif;
}
.button
{
  font-weight: 500;
  padding: 0.6rem 1.4rem;
  background-color: #FF6B6B;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
  transition: all 300ms ease-in;
}
.button:hover
{
  cursor: pointer;
  transform: scale(1.1);
}
.bold-text
{
 font-weight: bold;
}

.flexCenter{
  display: flex;
  row-gap: 2rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.flexStart {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flexEnd {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flexColCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.flexColStart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.flexColEnd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}



/* media queries */
@media (min-width: 1536px) {
  .innerWidth {
    max-width: 1280px;
    margin: auto;
  }
}

@media (min-width: 640px) {
  .paddings {
    padding: 4rem;
  }
}

@media (min-width: 1280px), (min-width: 768px) {
  .paddings {
    padding: 2rem;
  }
}

@media (max-width: 640px) {
  .primaryText {
    font-size: 1.5rem;
  }
  .redText {
    font-size: 1.2rem;
  }
}
.color-text
{ 
  color: #FF6B6B
}
.font
{
    font-family: "GFS Didot", serif;
    font-weight: 400;
    font-style: normal;
}
